.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: rgba(172, 199, 218, 0.938);
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: rgba(172, 199, 218, 0.938);
  /* rgb(88, 127, 255) ; */
  color:floralwhite;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  background-color:rgb(71, 70, 70);
   /* rgba(37, 80, 223, 0.938); */
}
.alignCrousel{
  height: 30vh;
}
.card{
  justify-content: center;
  min-height: 200px;
}
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: whitesmoke;
  overflow:scroll
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */

.alignfoodCard{
  height: 25vh;

}
.homeCard{
  height: 70vh;
}
.myflexsliderbox{
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;

}
.myflexslider{
  object-fit: contain;
  width: 100%;
  max-height: 200px; 
  margin-right: 10px;
  transition: transform 450ms;

}
.myflexslider:hover{
  transform: scale(1.04);
}